.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.previewPane {
  flex: 1;
  background-color: white;
  border-radius: var(--radius-3);
  overflow: hidden;
  border: 1px solid var(--gray-5);
  position: relative;
}

.errorFlex {
  position: absolute;
  inset: 0;
  background-color: var(--red-2);
  color: var(--red-11);
  padding: var(--space-4);
  text-align: center;
}

.previewIframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
