

.newKeyBox {
  margin-bottom: var(--space-6);
  background-color: var(--green-2);
  border: 1px solid var(--green-6);
  border-radius: var(--radius-3);
  padding: var(--space-4);
  position: relative;
}

.newKeyHeaderFlex {
  margin-bottom: var(--space-2);
}

.newKeyTitle {
  color: var(--green-11);
}

.newKeyDesc {
  color: var(--green-11);
  margin-bottom: var(--space-3);
}

.newKeyTokenFlex {
  background-color: var(--green-3);
  padding: var(--space-3);
  border-radius: var(--radius-2);
  border: 1px solid var(--green-5);
}

.newKeyTokenText {
  font-family: var(--font-mono);
  color: var(--green-12);
  font-size: var(--font-size-3);
}



.fieldPaddingBox {
  margin-bottom: var(--space-4);
}
