# Enforce the Node.js version defined in the "engines" field of package.json
engine-strict=true

# Disable package-lock.json generation
package-lock=false

# Always save exact versions for reproducible builds
save-exact=true
