.bannerContainer {
  background-color: var(--orange-9);
  color: white;
  padding: var(--space-2) var(--space-4);
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: var(--shadow-2);
}

.bannerIcon {
  opacity: 0.9;
}

.stopBtn {
  color: white;
  background-color: var(--orange-10);
  border: 1px solid var(--orange-11);
}
