.searchBox {
  margin-bottom: var(--space-4);
}

.scrollList {
  max-height: 400px;
  overflow-y: auto;
}

.loadingBox {
  background-color: var(--gray-2);
  border-radius: var(--radius-3);
}

/* We combine these with className={s.itemBox + ' ' + (selected ? s.itemBoxSelected : s.itemBoxDefault)} */
.itemBox {
  border-radius: var(--radius-2);
  cursor: pointer;
  transition: all 0.2s;
}

.itemBoxSelected {
  border: 1px solid var(--indigo-8);
  background-color: var(--indigo-2);
}

.itemBoxDefault {
  border: 1px solid var(--gray-4);
  background-color: var(--color-panel-solid);
}

.checkboxCursor {
  cursor: pointer;
}

.itemNameText {
  color: var(--gray-12);
}
