/* TablePagination */
.paginationContainer {
  border-top: 1px solid var(--gray-a6);
}

.paginationControls {
  margin-left: 0;
}

.paginationControlsAuto {
  margin-left: auto;
}

.paginationPageButton {
  cursor: pointer;
  min-width: 28px;
}

.paginationPageButtonCurrent {
  cursor: default;
}
