.breadcrumbFlex {
  overflow-x: auto;
  flex: 1;
  padding-right: var(--space-4);
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.breadcrumbFlex::-webkit-scrollbar {
  display: none;
}

.breadcrumbSeparator {
  color: var(--gray-9);
  display: flex;
  align-items: center;
}

.breadcrumbBtn {
  padding: 4px 8px;
  height: 32px;
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.breadcrumbBtnActive {
  color: var(--gray-12);
  font-weight: 500;
}

.breadcrumbBtnInactive {
  color: var(--gray-11);
  font-weight: normal;
}

.breadcrumbBtnInactive:hover {
  background-color: var(--gray-3);
}


