.footerBox {
  background-color: var(--color-panel-solid);
  border-top: 1px solid var(--gray-a6);
}

.footerFlexInner {
  color: var(--gray-11);
}

.footerLink {
  color: var(--gray-11);
  text-decoration: none;
  font-size: var(--font-size-2);
  transition: color 0.2s;
}

.footerLink:hover {
  color: var(--indigo-11);
}
