.navContainer {
  white-space: nowrap;
}

.dividerIcon {
  color: var(--gray-8);
}

.dividerChevron {
  transform: rotate(-90deg);
}

.breadcrumbLink {
  color: var(--gray-11);
  text-decoration: none;
  transition: color 0.2s;
}

.breadcrumbLink:hover {
  color: var(--indigo-11);
}

.breadcrumbText {
  color: var(--gray-12);
}
