.headerBox {
  height: 64px;
  z-index: 40;
  background-color: var(--color-panel-solid);
  border-bottom: 1px solid var(--gray-a6);
}

.divider {
  width: 1px;
  height: 24px;
  background-color: var(--gray-a6);
}
