@import '../../../../../shared/renderer/components/variables.css';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: var(--text-muted);
}

.spinner {
  animation: spin 1s linear infinite;
  margin-right: 0.5rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
