.dateRangeInput {
  width: 100%;
  flex: 1;
  padding: 0 var(--space-2);
  height: 32px;
  font-size: var(--font-size-2);
  color: var(--gray-12);
  background-color: var(--color-surface);
  border-radius: var(--radius-2);
  border: 1px solid var(--gray-a7);
  outline: none;
  outline-offset: -1px;
  box-sizing: border-box;
  font-family: inherit;
  opacity: 1;
  cursor: text;
  transition: border-color 0.15s, outline 0.15s;
}

.dateRangeInputError {
  border-color: var(--red-8);
}

.dateRangeInputFocus {
  outline: 2px solid var(--indigo-a5);
}

.dateRangeInputError.dateRangeInputFocus {
  outline: 2px solid var(--red-a5);
}

.dateRangeInputDisabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.dateRangeArrow {
  color: var(--gray-11);
  font-size: var(--font-size-2);
}
