.dateInput {
  width: 100%;
  padding: 0 var(--space-2);
  height: 32px;
  font-size: var(--font-size-2);
  color: var(--gray-12);
  background-color: var(--color-surface);
  border-radius: var(--radius-2);
  border: 1px solid var(--gray-a7);
  outline: none;
  outline-offset: -1px;
  font-family: inherit;
  opacity: 1;
  cursor: text;
  transition: border-color 0.15s, outline 0.15s;
}

.dateInputError {
  border-color: var(--red-8);
}

.dateInputFocus {
  outline: 2px solid var(--indigo-a5);
}

.dateInputError.dateInputFocus {
  outline: 2px solid var(--red-a5);
}

.dateInputDisabled {
  opacity: 0.6;
  cursor: not-allowed;
}
